body {
  margin: 0, auto;
  background: rgb(34, 0, 36);
  background: linear-gradient(90deg, rgba(34, 0, 36, 1) 0%, rgba(124, 196, 255, 1) 0%, rgba(12, 121, 204, 1) 57%); 
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-size: 4rem;
  font-weight: 100;
}

.headline, .form-container {
  display: flex;
  justify-content: center;
}

.input-container {
  color:rgba(124, 196, 255, 1);
  font-size: 1.7rem;
  border: none 1px;
  border-radius: 30px;
  height: 50px;
  text-align: center;
  width: 300px;
}

::placeholder {
  font-size: 1.4rem;
  color:rgba(124, 196, 255, 1);
  opacity: .25;
}

.btn {
  font-size: 2rem;
  border: none;
  border-radius: 30px;
  color:rgba(12, 121, 204, 1);
  margin: 0 5px
}

.weather-display {
  color: white;
  font-family: 'Fredericka the Great', cursive;
  margin: 5%;
  display: flex;
  justify-content: space-evenly;
}
